<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>

    <p>
    Splurty was built by <a target="_blank" href="https://github.com/syliesox">Julia</a>. A web developer who is on a mission to give people the technical skills they need to launch their own MVPs and turn ideas into reality.
  </p>
  <br />
  <p>
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />