<h1>It's your turn...</h1>
<h4>Provide us with one of your favorite quotes!</h4>

<%= simple_form_for @quote do |f| %>
  <%= f.input :saying %>
  <%= f.input :author %>
  <br />
  <%= f.submit 'Create', class: 'btn btn-danger' %>
<% end %>